footer
    div#contactInfo
        h2 You can contact me #[a(href="mailto:csanchez2237@gmail.com" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'email');") here]!
        h3 ¡Hablo español!
    div#links.
        #[a(href="/resources/files/camerons-resume.pdf" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Resume');") Resume] | 
        #[a(href="https://github.com/Cameron637?tab=overview&from=2016-09-01&to=2016-09-30&utf8=%E2%9C%93" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'GitHub');") GitHub] |
        #[a(href="https://bitbucket.org/Cameron637/profile/repositories", target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Bitbucket');") Bitbucket] |
        #[a(href="http://stackoverflow.com/users/6252597/cameron637?tab=profile", target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Stack Overflow');") Stack Overflow] |
        #[a(href="https://www.linkedin.com/in/cameron-sanchez-114479a8?trk=nav_responsive_tab_profile" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'LinkedIn');") LinkedIn] |
        #[a(href="https://www.facebook.com/cameron.sanchez.54" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Facebook');") Facebook]
    p © Cameron Sanchez 2016