head
    meta(charset="UTF-8")
    meta(name="description" content="This is my personal blog.")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes")
    title= title
    link(rel="author" href="https://plus.google.com/104418084167424329296")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open Sans")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/styles/index.css")
    script(src="/scripts/analytics/google-analytics.js")