* {
    box-sizing: border-box;
}

html {
    background-color: black;
    font-size: 62.5%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

@keyframes load {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

html::before {
    animation: load 1.1s infinite linear;
    border: 0.5rem solid green;
    border-left: 0.5rem solid #FFFFFF;
    border-radius: 50%;
    content: "";
    display: block;
    height: 4rem;
    margin: 5rem auto;
    width: 4rem;
}

body {
    display: none;
    font-family: Roboto;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html.loaded body {
    display: block;
}

html.loaded::before {
    display: none;
}

h1, h2, h3, p {
    margin: 0;
}

.menu {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: white;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    width: 100%;
}

.menu a:hover {
    background-color: deepskyblue;
}

.title h1 {
    background-color: darkslategray;
    color: white;
    font-size: 3rem;
    padding: 1rem 2rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.post {
    background-color: lightgray;
    padding: 1rem 2rem;
}

.post h1 {
    color: teal;
    font-family: Open Sans;
    font-size: 3rem;
}

.post ul li {
    font-size: 2rem;
    margin-top: 1rem;
}

.post ul a {
    color: saddlebrown;
    text-decoration: none;
}

.post p {
    font-size: 1.5rem;
}

.post .image {
    width: 22rem;
}

.post img {
    width: 100%;
}

footer {
    align-items: center;
    background-color: darkslategray;
    color: white;
    display: block;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

footer div, footer p {
    text-align: center;
}

#contactInfo {
    padding: 2rem 1rem 2rem 2rem;
}

#contactInfo a {
    color: deepskyblue;
    text-decoration: none;
}

#contactInfo a:-webkit-any-link {
    color: deepskyblue;
    text-decoration: none;
}

#links {
    padding: 2rem 1rem;
}

#links a {
    color: white;
    text-decoration: none;
}

footer p {
    padding: 2rem 2rem 2rem 1rem;
}

@media (min-width: 512px) {
    .post {
        padding: 2rem 5rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}