section.menu
    if lang === "en"
        a(href="/" onclick="ga('send', 'event', 'link', 'click', 'Developer Story');") Developer Story
        a(href="/blog" onclick="ga('send', 'event', 'link', 'click', 'Blog');") Blog
        a(href="https://rm-planner.cameronjsanchez.com" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'RM Planner');") RM Planner
        a(href="#{currentUrl}?lang=es") Español
    if lang === "es"
        a(href="?lang=es" onclick="ga('send', 'event', 'link', 'click', 'Historia del Desarrollador');") Historia del Desarrollador
        a(href="/blog?lang=es" onclick="ga('send', 'event', 'link', 'click', 'Blog');") Blog
        a(href="https://rm-planner.cameronjsanchez.com" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Planificador RM');") Planificador RM
        a(href="#{currentUrl}?lang=en") English